.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selectmint {
    margin-bottom: 20px;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submit {
    margin: 40px;
    padding: 10px;
    cursor: pointer;
}

.mint {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.submit:hover, .mint:hover {
    background-color: #281e1e; /* Light grey background on hover */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow on hover */
}

.input {
    margin-top: 15px;
    margin-bottom: 4px;
}

.imageInput {
    margin-top: 15px;
    margin-bottom: 4px;
}