.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.preContainer {
  font-size: 1.2rem; 
}

.heading {
    display: flex;
    justify-content: center;
    margin: 1.5em;
}
.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tokens {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.token {
  display: flex;
  justify-content: center;
  min-width: 200px;
}

.submit {
  display: flex;
  justify-content: center;
  margin: 1.5em;
}

.submitbut {
  margin: 1em;
  padding: 0.8em;
  min-width: 200px;
  border-radius: 5px;
  font-size: large;
  background-color: rgb(61, 67, 68);
  cursor: pointer;
}

.addtoken {
  display: flex;
  justify-content: center;
  margin: 1.5em;
}
.selecttoken {
  height: 3.2em;
  margin-top: 1.5em;
  background-color: black;
}
.but {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: large;
  background-color: rgb(61, 67, 68);
}

.body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.formitem {
    display: flex;
    justify-content: center;
    padding: 0.8em;
    margin-left: 1.5em;
}

.custom {
    position: relative;
    font-size: 14px;
    padding-top:20px;
    margin-bottom: 2px;
  }

.custom3 {
  position: relative;
  font-size: 14px;
  padding-top:20px;
  margin-bottom: 2px;
}
  
  .custom textarea {
    border: 1px solid;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: none;
    appearance: none;
    background: var(--bg);
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    height: 100px;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
  }

  .custom input {
    border: 1px solid;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: none;
    appearance: none;
    background: var(--bg);
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
  }
  
  .custom .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      font-size 0.3s ease,
      color 0.3s ease;
  }

  .custom input:valid + .placeholder,
  .custom input:focus + .placeholder {
    top: 12px;
    font-size: 10px;
    color: var(--text-color);
  }
  .tag {
    position: absolute;
    right: 12px;
    top: 6px;
    font-size: 10px;
  }

  .tokenitem {
    display: flex;
    justify-content: center;
}

  .custom3 input {
    border: 1px solid;
    -webkit-appearance: none;
    -ms-appearance:none;
    -moz-appearance: none;
    appearance: none;
    background: var(--bg);
    padding: 12px;
    border-radius: 3px;
    width: 100px;
    outline: none;
    font-size: 14px;
    color: var(--text-color);
  }
  
  .custom3 .placeholder {
    position: absolute;
    left: 12px;
    top: calc(50% + 10px);
    transform: translateY(-50%);
    color: #aaa;
    transition: 
      top 0.3s ease,
      font-size 0.3s ease,
      color 0.3s ease;
  }

  .custom3 input:valid + .placeholder,
  .custom3 input:focus + .placeholder {
    top: 12px;
    font-size: 10px;
    color: var(--text-color);
  }

  @keyframes fade-in-out {
    0% { opacity: 0; } /* Start with 0% opacity */
    50% { opacity: 1; } /* Fade in to 100% opacity */
    100% { opacity: 0; } /* Fade out to 0% opacity */
  }
  
  /* Apply the animation to the text element */
  .loading {
    margin: 1.0em;
    font-size: 2.5em;
    animation: fade-in-out 2s ease-in-out infinite; /* Use the defined animation */
    color: aquamarine;
  }