.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@keyframes fade-in-out {
  0% { opacity: 0; } /* Start with 0% opacity */
  50% { opacity: 1; } /* Fade in to 100% opacity */
  100% { opacity: 0; } /* Fade out to 0% opacity */
}

/* Apply the animation to the text element */
.loading {
  margin: 1.0em;
  font-size: 2.5em;
  animation: fade-in-out 2s ease-in-out infinite; /* Use the defined animation */
  color: aquamarine;
}

.update {
    margin: 40px;
    padding: 10px;
}
.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}
.address {
    margin-top: 30px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(19, 67, 78);
    width: 300px;
}